.card {
  margin-bottom: 20px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  color: #333;
}

.card-body {
  padding: 20px;
}

.container {
  margin-top: 50px;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
.element{
   height: 300px;
  width: 400px;
  margin-left: 200px;
  background-color: red;
  animation: 
    pulse 3s ease infinite alternate, 
    nudge 5s linear infinite alternate;
  
}
@keyframes pulse {
  0%, 100% {
    background-color: pink;
  }
  50% {
    background-color: greenyellow;
  }
}

@keyframes nudge {
  0%, 80% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}



